<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Group Video Call</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/lobby.css">
    <link rel="stylesheet" href="/css/main.css">

</head>

<body>
    <header id="nav">
        <div class="nav--list">
             <a href="lobby.html"/>
                 <h3 id="logo">
                     <img src="./images/logo1.png" alt="Site Logo">
                     <span>Video WebRTC</span>
                 </h3>
             </a>
        </div>
 
         <div id="nav__links">
             <a class="nav__link" href="/">
                 Lobby
                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ede0e0" viewBox="0 0 24 24"><path d="M20 7.093v-5.093h-3v2.093l3 3zm4 5.907l-12-12-12 12h3v10h7v-5h4v5h7v-10h3zm-5 8h-3v-5h-8v5h-3v-10.26l7-6.912 7 6.99v10.182z"/></svg>
             </a>
             <a class="nav__link" id="create__room__btn" href="lobby.html">
                 Create Room
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ede0e0" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z"/></svg>
             </a>
         </div>
     </header>
    <div class="main-wrap">
        <div class="call-wrap card" style="z-index: 99">
            <div id="form__container">
                
                    <div id="form__container">
                        <div id="form__container__header">
                            <p>Video call with WebRTC</p>
                    </div>
                    <div class="form__field__wrapper">
                        <div class="host-meeting">Host
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"/>
                            </svg>
                        </div>
                        <div class="join-meeting">Join
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M13.025 1l-2.847 2.828 6.176 6.176h-16.354v3.992h16.354l-6.176 6.176 2.847 2.828 10.975-11z"/>
                            </svg>
                        </div>
                    
                    <div class="action-wrap"></div>
                </form>
            </div>
        </div>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/client.js"></script>
    <script>
        $(function (){
            $(document).on("click", ".host-meeting", function (){
                let idNumber = Math.floor( Math.random()*100000000)
                let url = window.location.origin+"/meeting?meetingID="+idNumber;
                window.location.replace(url);
            });
        })
        $(document).on("click", ".join-meeting", function(){
            $(".action-wrap").empty().html('<div class="row"> <form class="col s12"> <a href="#"><i class="material-icons prefix">arrow_back</i></a><div class="row"> <div class="input-field col s6" style="width: 100%;"> <i class="material-icons prefix">call_to_action</i> <input id="icon_prefix" type="text" class="validate join-value"> <label for="icon_prefix">Meeting ID [Without Space]</label> </div> </div> <button class="btn waves-effect waves-light teal darken-2 join-submit" type="submit" name="action">Join<i class="material-icons right">send</i></button></form> </div>');
        });

        $(document).on("click",".join-submit", function(e){
            e.preventDefault();
            var meetingValue = $("input.join-value").val()
            if(meetingValue == ''|| meetingValue.length <8){
                alert("Invalid Meeting ID");
            }
            else {
                let url = window.location.origin+"/meeting?meetingID="+meetingValue;
                window.location.replace(url);
            }
        })
    </script>

</body>

</html>
